@import '../../../scss/variables.scss';

.authorization-page {
  position: absolute;
  top: 35%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 30%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 0;

  .button {
    margin-top: 20px;
    right: 0;
  }

  h5 {
    text-align: center;
  }
}
