@import '../../../scss/variables.scss';

.my-profile-page {
  .user-panel {
    display: inline-block;
    width: 24%;
    padding: 2%;
  }
  .info-panel {
    display: inline-block;
    width: 64%;
    vertical-align: top;
    padding: 2%;
    border: solid 1px $color-dark-gray;
    border-radius: 5px;

    .top {
      display: flex;
      justify-content: space-between;
    }
  }
}
