@import '../../scss/variables.scss';

.control {
  &.button > * {
    margin-right: 10px !important;
  }

  &.date {
    display: block;
  }

  &.input > * {
    width: 100%;
  }

  &.label > * {
    font-family: $font-family-1;
    p {
      display: inline-block;
      vertical-align: super;
    }
    .top-label {
      color: $color-dark-gray;
      margin: 0;
    }
  }

  &.select {
    display: block;
  }

  &.switch {
    .option {
      display: inline-block;
    }
  }
}
