@import './variables.scss';

.app {
  a {
    text-decoration: none;
  }

  .error {
    color: $color-red;
    margin: 0;
  }

  background: $color-gray;
  min-height: 100vh;

  .header {
    margin-top: 50px;

    .logo {
      max-width: 100%;
      height: auto;
      max-height: 75px;
      width: auto;
    }
  }

  .block {
    border-bottom: solid 1px $color-dark-gray;
    padding: 20px 0;
  }

  .page {
    padding: 60px 40px;
    background-color: $color-white;

    .errors {
      background-color: $color-light-red;
      border: solid 2px $color-red;
      padding: 10px 40px;
      margin: 20px 0;
    }
  }

  .bottomNav {
    background-color: $color-white;
    color: $color-white;
    width: 100%;
    position: absolute;
    bottom: 0;
    position: fixed;

    .navigation {
      justify-content: space-around;
      background-color: $color-white;
    }
  }
}
