$color-green: #3daf8e;
$color-blue: #5c7ee3;
$color-black: #000000;
$color-white: #ffffff;
$color-light-red: #ffe6e6;
$color-red: #ff9999;
$color-gray: #f7f7f7;
$color-dark-gray: lightgray;

$font-family-1: 'Segoe UI', 'Helvetica', Arial, sans-serif;
